@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

$tab_content_selector: "#tab1:checked ~ .tab-content.content1";
$tab_label_selector: "#tab1:checked ~ label .tab-1";
@for $i from 2 through 20 {
  $tab_content_selector: $tab_content_selector +
  ", #tab" +
  $i +
  ":checked ~ .tab-content.content" +
  $i;
  $tab_label_selector: $tab_label_selector +
  ", #tab" +
  $i +
  ":checked ~ label .tab-" +
  $i;
}

.padding-top10 {
  padding-top: 10px;
}

.padding-top20 {
  padding-top: 20px;
}

.padding-top40 {
  padding-top: 40px;
}

.padding-top60 {
  padding-top: 60px;
}

.padding-bottom20 {
  padding-bottom: 20px;
}

.padding-bottom40 {
  padding-bottom: 40px;
}

.padding-bottom60 {
  padding-bottom: 60px;
}

.padding-left20 {
  padding-left: 20px;
}

.padding-right20 {
  padding-right: 20px;
}

.col-width-not-defined {
  position: relative;
  min-height: 1px;
  float: left;
}

.title {
  font-size: 25px;
  color: #212121;
  line-height: 25px;
  font-weight: 600;
}

.text {
  margin-top: 20px;
}

.detailed-advantage {
  .row-advantage {
    @media (min-width: $screen-sm-max) {
      display: flex;
    }
  }

  .image-container {
    margin: auto;
  }

  .image-comparison {
    display: block;
    margin: auto;
    height: 120px;
  }

  .text-container {
    @media (max-width: $screen-sm-max) {
      margin: 30px 50px 0px;
    }
  }

  .link {
    font-weight: 600;
  }
}

.detailed-additional-content {
  .text-container {
    padding-left: 50px;
    padding-right: 50px;
  }

  .box {
    border-style: solid;
    border-color: $dropdown-caret-color;

    @media (max-width: $screen-sm-max) {
      margin-top: 30px;
    }
  }

  .tab {
    background-color: $dropdown-caret-color;
    line-height: 40px;

    &.borders {
      border-left: 1px solid #ffffff;
    }
  }

  .tab:hover,
  .tab:active,
  .tab-content {
    background-color: $applications-app-shadow-color;
  }

  .tabs-input {
    display: none;
  }

  .tabs-input ~ .tab-content {
    display: none;
  }

  #{$tab_content_selector} {
    display: block;
  }

  #{$tab_label_selector} {
    background-color: #ffffff;
  }

  .link-title {
    font-size: 22px;
    color: #19237b;
    line-height: 25px;
    font-weight: 600;
  }

  .subtext {
    font-size: 20px;
    color: $color-gray;
    line-height: 25px;
  }
}
